node_modules/
dist/
build/
coverage/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.log

.env
.env.*
!.env.example
!**/.env.example

android/app/debug.keystore
*.jks
*.keystore
key.properties
**/local.properties

apps/mobile/build/
apps/api/generated/

*.orig
Thumbs.db
.DS_Store
